.container-general{
    width: 100%;
    height: 300px;
    background-color: crimson;
    margin-top: 10px;
    display: flex;           /* Activar Flexbox */
    flex-direction: row; /* Dirección de los elementos (columna) */
    flex-wrap: wrap;      /* Permitir que los elementos se envuelvan */
    justify-content: center; /* Alineación horizontal */
    justify-content: space-around; /* Espacio entre elementos */
    align-items: flex-end;     /* Alineación vertical */
}

.container-hijo{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 10px;
    margin-right: 10px;
    justify-content: center;
}
